.contact {
    margin: 10px;
}

.contact-action {
    font-size: 10px;
    cursor: pointer;
    margin: 10px;
}

.contact-form {
    padding: 15px;
    gap: 1rem;
}

.input-contact {
    margin: 10px;
}